nav {
  font-size: 35px;
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: rgb(39, 39, 39);
}

.containerwraper {
  display: flex;
  flex-direction: row;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}
.col-sm-2 {
  flex-wrap: wrap;
}
